## Load Gears (Intersport) Cleansed data into Maria DB

In [8]:
import pandas as pd
import warnings
import mariadb

warnings.filterwarnings('ignore')

In [9]:
#Run those command in command line for getting Maria DB  connection work
# sudo apt-get install libmariadb3 libmariadb-dev
# pip install mariadb
# pip install mysql-connector-python

In [10]:
df_gears = pd.read_csv("../Data/gears_stage3.csv", sep=',')

In [11]:
df_gears.rename(columns={'location_town': 'location_key'}, inplace=True)

In [12]:
df_gears.head(3)

,location,location_key,first_rental_day,return_date,gear_name,price,rental_duration,price_per_day,gear_class
0,Grimentz – Valais,Grimentz,2023-12-15,2023-12-15,ski exclusive,49.5,1,49.5,ski
1,Grimentz – Valais,Grimentz,2023-12-15,2023-12-15,ski premium,34.2,1,34.2,ski
2,Grimentz – Valais,Grimentz,2023-12-15,2023-12-15,telemark ski premium,49.5,1,49.5,ski

In [13]:
#sudo apt-get install libmariadb3 libmariadb-dev
#!pip install mariadb
#!pip install mysql-connector-python

just to evaluate max lenght for db

## Create the db table  for Intersport

In [14]:
# Define the table schema
table_schema = '''
CREATE TABLE IF NOT EXISTS intersport_stage3 (
    location VARCHAR(100),
    location_town VARCHAR(100),
    first_rental_day DATE,
    return_date DATE,
    gear_name VARCHAR(100),
    price FLOAT,
    rental_duration INT,
    price_per_day FLOAT,
    gear_class VARCHAR(100)
);
'''

In [15]:
username = 'cip_user'
password = 'cip_pw'
database_name = 'CIP'

conn = mariadb.connect(
        user=username,
        password=password,
        host="localhost",
        port=3306,
        database=database_name

    )

In [16]:
cur = conn.cursor() 
cur.execute(table_schema)

Check CREATE was OK

## Insert the data in to the table

In [19]:
import sqlalchemy
conn = sqlalchemy.create_engine('mysql+mysqlconnector://cip_user:cip_pw@localhost:3306/CIP')
df_gears.to_sql(name='intersport_stage3', con=conn, if_exists='replace', index=False)

1574

Check Insert

In [20]:
username = 'cip_user'
password = 'cip_pw'
database_name = 'CIP'

conn = mariadb.connect(
        user=username,
        password=password,
        host="localhost",
        port=3306,
        database=database_name

    )
mycursor = conn.cursor()

mycursor.execute("SELECT count(*) FROM intersport_stage3;") 
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

mycursor.execute("SELECT * FROM intersport_stage3 limit 5;") 
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
conn.close()

(1574,)
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'ski exclusive', 49.5, 1, 49.5, 'ski')
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'ski premium', 34.2, 1, 34.2, 'ski')
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'telemark ski premium', 49.5, 1, 49.5, 'ski')
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'ski economy', 26.1, 1, 26.1, 'ski')
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'skiboots premium', 17.1, 1, 17.1, 'clothes')