## Load Accomodations Cleansed data into Maria DB

In [3]:
#sudo apt-get install libmariadb3 libmariadb-dev
#!pip install mariadb
#!pip install mysql-connector-python

In [2]:
import pandas as pd
import warnings
import mariadb
import sqlalchemy

warnings.filterwarnings('ignore')

In [6]:
df_accomodations = pd.read_csv("../Data/accomodations_stage3.csv", sep=',')

In [8]:
df_accomodations.rename(columns={'location': 'location_key'}, inplace=True)

## Create and insert the db table  for Resort

In [12]:
cur = conn.cursor()

In [9]:
username = 'cip_user'
password = 'cip_pw'
database_name = 'CIP'

conn = mariadb.connect(
        user=username,
        password=password,
        host="localhost",
        port=3306,
        database=database_name

    )

## Insert and create the data in to the table

In [11]:
conn = sqlalchemy.create_engine('mysql+mysqlconnector://cip_user:cip_pw@localhost:3306/CIP')
df_accomodations.to_sql(name='accomodations_stage3', con=conn, if_exists='replace', index=False)

2546

Check Insert

In [13]:
mycursor = conn.cursor()
mycursor.execute("Show tables;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
mycursor.execute("SELECT count(*) FROM accomodations_stage3;") 
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
conn.close()

AttributeError: 'Engine' object has no attribute 'cursor'

In [14]:
username = 'cip_user'
password = 'cip_pw'
database_name = 'CIP'

conn = mariadb.connect(
        user=username,
        password=password,
        host="localhost",
        port=3306,
        database=database_name

    )
mycursor = conn.cursor()


mycursor.execute("SELECT * FROM accomodations_stage3 limit 1;") 
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
conn.close()

(0, 'Disentis', 'Entire rental unit', 63.5, 944905850035322493, 'https://www.airbnb.com/rooms/944905850035322493', 8, 'Disentis', 'Disentis, Grisons, Switzerland', 1.0, 1, 2.0, 1, 1, 0, 0, 0, 0, '254\xa0', 508, 0.0, 0.0, 0.0, 0.0, 0.0, 254, 508, 4, 2, None)