## Load Intersport Cleansed data into Maria DB

In [1]:
import pandas as pd
import warnings
import mariadb

warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'mariadb'

In [61]:
df_resorts = pd.read_csv("../Data/cip_snow_reports.csv", sep=',')

In [64]:
df_resorts['location_key'] = df_resorts['location'].str.split('–').str[0].str.strip()

In [66]:
df_resorts['location_key']

0                       Grimentz
1                 Visperterminen
2                        Fideris
3              Les Collons Thyon
4                        Verbier
                 ...
179    Rathvel s/Châtel-St-Denis
180                 Ottenleuebad
181                       Torgon
182                      Altdorf
183                   Obermutten
Name: location_key, Length: 184, dtype: object

In [3]:
#sudo apt-get install libmariadb3 libmariadb-dev
#!pip install mariadb
#!pip install mysql-connector-python

just to evaluate max lenght for db

In [74]:
df_resorts.apply(lambda x: x.astype(str).str.len().max())

resort                                        29
location                                      56
status_pistes_km                              11
slope_condition                               38
open_lifts                                    62
                                              ..
Depth of snow on upper runs at 1887 metres     3
Depth of snow on upper runs at 2590 metres     3
Depth of snow on upper runs at 1901 metres     3
Depth of snow on upper runs at 1496 metres     3
location_key                                  27
Length: 209, dtype: int64

## Create the db table  for Resort

In [5]:
# Define the table schema
table_schema = '''
CREATE TABLE IF NOT EXISTS intersport_stage3 (
    location VARCHAR(100),
    location_town VARCHAR(100),
    first_rental_day DATE,
    return_date DATE,
    gear_name VARCHAR(100),
    price FLOAT,
    rental_duration INT,
    price_per_day FLOAT,
    gear_class VARCHAR(100)
);
'''

In [6]:
username = 'cip_user'
password = 'cip_pw'
database_name = 'CIP'

conn = mariadb.connect(
        user=username,
        password=password,
        host="localhost",
        port=3306,
        database=database_name

    )

In [7]:
cur = conn.cursor() 
cur.execute(table_schema)

Check CREATE was OK

In [8]:
mycursor = conn.cursor()
mycursor.execute("Show tables;")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)
mycursor.execute("SELECT count(*) FROM resorts_stage3;") 
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
conn.close()

('intersport_stage3',)
(0,)

## Insert the data in to the table

In [54]:
import sqlalchemy
conn = sqlalchemy.create_engine('mysql+mysqlconnector://cip_user:cip_pw@localhost:3306/CIP')
df_gears.to_sql(name='resorts_stage3', con=conn, if_exists='replace', index=False)

conn.close()

ModuleNotFoundError: No module named 'sqlalchemy'

Check Insert

In [12]:
username = 'cip_user'
password = 'cip_pw'
database_name = 'CIP'

conn = mariadb.connect(
        user=username,
        password=password,
        host="localhost",
        port=3306,
        database=database_name

    )
mycursor = conn.cursor()


mycursor.execute("SELECT * FROM resorts_stage3 limit 5;") 
myresult = mycursor.fetchall()
for x in myresult:
  print(x)
conn.close()

(1574,)
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'ski exclusive', 49.5, 1, 49.5, 'ski')
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'ski premium', 34.2, 1, 34.2, 'ski')
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'telemark ski premium', 49.5, 1, 49.5, 'ski')
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'ski economy', 26.1, 1, 26.1, 'ski')
('Grimentz – Valais', 'Grimentz', '2023-12-15', '2023-12-15', 'skiboots premium', 17.1, 1, 17.1, 'clothes')