In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("../Data/gears_stage1.csv", sep=',')

In [14]:
df.head(5)

,location,location_town,first_rental_day,return_date,gear_name,description,price
0,Grimentz – Valais,Grimentz,2023-12-15,2023-12-15,Ski Exclusive,Highest Quality & innovative technology__Direc...,CHF 49.50
1,Grimentz – Valais,Grimentz,2023-12-15,2023-12-15,Ski Premium,For sporty bargain hunters__A ton of fun on th...,CHF 34.20
2,Grimentz – Valais,Grimentz,2023-12-15,2023-12-15,Telemark Ski Premium,Type according to availability;,CHF 49.50
3,Grimentz – Valais,Grimentz,2023-12-15,2023-12-15,Ski Economy,For the price-conscious__Type according to ava...,CHF 26.10
4,Grimentz – Valais,Grimentz,2023-12-15,2023-12-15,Skiboots premium,Direct force transmission__High Comfort & perf...,CHF 17.10

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1782 entries, 0 to 1781
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   location          1782 non-null   object
 1   location_town     1782 non-null   object
 2   first_rental_day  1782 non-null   object
 3   return_date       1782 non-null   object
 4   gear_name         1782 non-null   object
 5   description       1782 non-null   object
 6   price             1782 non-null   object
dtypes: object(7)
memory usage: 97.6+ KB

In [16]:
df.describe()

,location,location_town,first_rental_day,return_date,gear_name,description,price
count,1782,1782,1782,1782,1782,1782,1782
unique,44,44,1,3,74,69,288
top,Villars-sur-Ollon – Canton of Vaud,Villars-sur-Ollon,2023-12-15,2023-12-16,Ski Economy,Type according to availability;,CHF 5.00
freq,96,96,1782,619,124,184,91

SyntaxError: invalid syntax (1561358544.py, line 1)

In [ ]:
rental duration